[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
tiktoken = "*"
scikit-learn = "*"
pandas = "*"
pyarrow = "*"
pillow = "*"
pinecone-client = "*"
pinecone-datasets = "*"
llama-index = "*"

[dev-packages]

[requires]
python_version = "3.10"
